section#homepage {
  text-align: center;
  margin: 14% 0;
}

#home-logo {
  font-family: 'Bungee Shade', sans-serif;
  font-size: 100px;
  color: white;
  transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
}

.home-mottos h3 {
  font-weight: 800;
  color: white;
  margin: 0.938em;
}

.home-highlight {
  color: #ffcccc;
}

hr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 2.5em;
}

.container-section {
  padding: 2.250em;
}

.btn-homepage h3 {
  margin: 0;
  font-weight: 800;
}

.btn-homepage {
  padding: 5px 40px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
}

.btn-homepage:hover {
  background-color: white;
  color: #00bfff;
}

.inline-block {
  display: inline-block;
}

.temp {
  opacity: 0;
  width: 200px;
}

.fadeleft {
  width: 280px;
  -webkit-animation: fade-left .5s ; /* Chrome, Safari, Opera */
  animation: fade-left .5s ;
}

@-webkit-keyframes fade-left {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fade-left {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fade-left {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fade-left {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fadein {
  width: 200px;

  -moz-animation-name: list-name-fadein;
  -moz-animation-iteration-count: 1;x
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: .2s;

  -webkit-animation-name: list-name-fadein;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .2s;

  animation-name: list-name-fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .2s;
}

@-webkit-keyframes list-name-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes list-name-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes list-name-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes list-name-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 767px) {
  #home-logo {
    font-size: 3.125em;
  }
  .btn-homepage {
    margin-top: 1.250em;
  }
}