<section id="homepage">
  <div class="home-mottos">
    <h1 id="home-logo">Choose To Go</h1>
    <h3><span class="home-highlight">Track</span> your location</h3>
    <h3><span class="home-highlight">Save</span> your itinerary</h3>
    <h3><span class="home-highlight">Choose</span> your destination</h3>
  </div>
  <button class="btn-get-started" (click)="getListId()" ><h3>Get Started!</h3></button>
  <button *ngIf="loggedIn === -1" class="btn-get-started" (click)="login()" ><h3>Login!</h3></button>
  <button *ngIf="loggedIn === 1" class="btn-get-started" (click)="logout()" ><h3>logout!</h3></button>
</section>