<div class="modal fade" id="urlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <h4 class="modal-title" id="myModalLabel">Here is a link to your list!</h4>
      </div>
      <div id="list-url">
        {{url}}
      </div>
    </div>
  </div>
</div>