<nav>
  <div class="logo">
    <h1><a [routerLink]="['']">Choose To Go</a></h1>
    <p class="motto text-center">A simple and clean way to plan your trips</p>
  </div>
  <div class="nav-links">
    <button class="btn-nav">Share</button>
    <button *ngIf="loggedIn === authenticationStateReference.Unauthenticated" class="btn-nav" (click)="login()">Login</button>
    <button *ngIf="loggedIn === authenticationStateReference.Authenticated" class="btn-nav" (click)="logout()">Logout</button>
  </div>
</nav>
