<div class="content-title">
  <div class="list-header">
    <h1 class="display-inline">
      <span *ngIf="!isInputFocused" class="list-title">{{(listName | async)?.$value}}</span>
      <input [hidden]="!isInputFocused" #newName class="edit-input" type="text" name="name" id="name" placeholder="{{(listName | async)?.$value}}">
    </h1>
    <button class="edit-btn display-inline list-title" *ngIf="!isInputFocused && isEditable" (click)="isInputFocused = !isInputFocused">
      Edit
    </button>
    <button class="edit-btn display-inline list-title" *ngIf="isInputFocused" (click)="editListName(newName.value)">
      Save
    </button>
  </div>
  <hr>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="table-sort-category" (click)="sortTasksByName()">Location</th>
          <th class="table-sort-category" (click)="sortTasksByPriority()">Priority</th>
          <th class="table-sort-category" (click)="sortTasksByDistance()">Distance</th>
          <th class="table-sort-category" (click)="sortTasksByDuration()">Duration</th>
          <th>
            <button *ngIf="isEditable" class="add-new-btn display-inline" data-toggle="modal" data-target="#addModal">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <th>{{task.name}}</th>
          <th>{{task.priority}}</th>
          <th>{{task.distance ? task.distance.text : ''}}</th>
          <th>{{task.duration ? task.duration.text : ''}}</th>
          <th>
            <div class="list-actions">
              <button class="btn-visited">Visited</button>
              <button (click)="removeTask(task.$key)" class="btn-remove">Remove</button>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <map [tasks]="tasksObservable"></map>
  <add-task (taskEmitter)="addTask($event)"></add-task>
</div>