hr {
  border-top: 1px solid white;
  border-bottom: transparent;
  padding: 0 40px;
  margin-bottom: 0;
}

table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-spacing:5px 5px;
}

thead {
  font-weight: 900;
  border-bottom: 1px solid white !important;
}

th {
  padding: 5px 10px;
  text-align: center;
}

i.fa-plus {
  position: relative;
  bottom: 4px;
}

.list-title {
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 5s infinite;
  -webkit-animation-timing-function: linear;
}

.list-actions {
  text-align: right;
}

.content-title {
  display: inline-block;
  width: 40%;
}

.list-header h1 {
  font-weight: 800;
  margin-bottom: 0;
  font-size: 30px;
}

.edit-btn {
  cursor: pointer;
  position: relative;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 800;
  bottom: 4px;
  margin-left: 0.750em;
  height: 30px;
  font-size: 1em;
  margin-right: 0.750em;
  padding: 2px 6px 4px 6px;
  -webkit-transition-property: all; /* Safari */
  -webkit-transition-duration: .3s; /* Safari */
  transition-property: all;
  transition-duration: .3s;
}

.edit-btn:hover {
  color: #00bfff;
  background-color: white;
}

.edit-focus {
  background-color: pink;
}

.add-new-btn {
  cursor: pointer;
  float: right;
  position: relative;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  height: 30px;
  font-size: 1.375em;
  padding: 2px 6px 4px 6px;
  -webkit-transition-property: all; /* Safari */
  -webkit-transition-duration: .3s; /* Safari */
  transition-property: all;
  transition-duration: .3s;
}

.add-new-btn:hover {
  color: #00bfff;
  background-color: white;
}

.btn-visited, .btn-remove {
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  -webkit-transition-property: all; /* Safari */
  -webkit-transition-duration: .3s; /* Safari */
  transition-property: all;
  transition-duration: .3s;
}

.btn-visited:hover {
  border: 2px solid #c6ffb3;
  color: #c6ffb3;
}

.btn-remove:hover {
  border: 2px solid #ffb3b3;
  color: #ffb3b3;
}

.edit-input {
  border: transparent;
  border-radius: 10px;
}

.table-sort-category {
  cursor: pointer;
}